<style>
  .stickyButton {
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    /* Initially hide the button */
    /* z-index: 9999; */
  }
</style>


<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
   
    <div class="call-phone">
        <a href="contact" class="call-phone">Operating Hours (10:30am-2pm; 5pm-8pm)</a>
    </div>
    <div class="call-phone"><strong>Chat on Whatsapp: </strong>
      <a href="https://wa.me/{{ .site.data.contact.phone }}?text=Question_from_website_visitor">
        {{ site.data.contact.phone }}
      </a>
    </div>
    {% endif %}
  </div>
  {% if include.show_button %}
  <div class="call-box-bottom">
      <a href="tel:{{ site.data.contact.phone }}" class="button"> Call {{ site.data.contact.phone }}</a>

  </div>
  {% endif %}
</div>