<form class="" target="_self" enctype="multipart/form-data" action="https://formkeep.com/f/eb2e7de8fb23"
    accept-charset="UTF-8" method="post">
    <fieldset>
        <center>
            <h2>Contact Us</h2>
        </center>
        <br>
        <div class="row">
            <div class="form-group col-xs-6" id="Name__div">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" autofocus="autofocus" class="form-control" />
            </div>
            <div class="form-group col-xs-6" id="Phone__div">
                <label for="Phone">Phone</label>
                <input type="tel" name="Phone" id="Phone" placeholder="123-456-7890" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12" id="Message__div">
                <label title="required" for="Message">Message *</label>
                <textarea name="Message" id="Message" required="required" class="form-control">
</textarea>
                <small class="form-text text-muted">Please provide as much detail as you can to help
                    speed our reply</small>
            </div>
        </div>
        <br>
        <div style="opacity:0;position:absolute;top:0;left:-5000px;height:0;width:0">
            <label for="subscribe_eb2e7de8fb23_42965"></label>
            <input name="subscribe_eb2e7de8fb23_42965" value="" tabindex="-1" autocomplete="off" type="email"
                id="email_subscribe_eb2e7de8fb23_42965" placeholder="Your email here">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" value="Submit" class="btn btn-block call-box-bottom" data-disable-with="Submit" />
            </div>
        </div>
    </fieldset>
</form>