<!-- Contact form powered by Formspree (free). Replace YOUR_FORM_ID with your Formspree form ID from formspree.io -->
<form action="https://formspree.io/f/YOUR_FORM_ID" method="POST">
    <fieldset>
        <center>
            <h2>Contact Us</h2>
        </center>
        <br>
        <div class="row">
            <div class="form-group col-xs-6" id="Name__div">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" autofocus="autofocus" class="form-control" required />
            </div>
            <div class="form-group col-xs-6" id="Phone__div">
                <label for="Phone">Phone</label>
                <input type="tel" name="Phone" id="Phone" placeholder="+91 98765 43210" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12" id="Message__div">
                <label title="required" for="Message">Message *</label>
                <textarea name="Message" id="Message" required="required" class="form-control"></textarea>
                <small class="form-text text-muted">Please provide as much detail as you can to help
                    speed our reply</small>
            </div>
        </div>
        <br>
        <!-- Honeypot spam filter -->
        <input type="text" name="_gotcha" style="display:none" />
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" value="Submit" class="btn btn-block call-box-bottom" />
            </div>
        </div>
    </fieldset>
</form>