.call {
  overflow: hidden;
  background-color: rgba(255,255,255,0.88);
  border: 1px solid rgba($secondary, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  @include media-breakpoint-up(sm) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .call-box-top {
    padding: 20px;
    background: rgba(255,255,255,0.7);
  }
  .call-box-bottom {
    flex: 2 0 auto;
    padding: 20px;
    border-top: 1px solid rgba($secondary, 0.15);
    @include media-breakpoint-up(sm) {
      flex: 2 0 auto;
      border: none;
    }
  }

  .call-name {
    font-size: 1.05rem;
    font-weight: 600;
    font-family: $font-family-heading;
    color: $black;
  }
  .call-phone {
    min-height: 48px;
    line-height: 20px;
  }
  .call-email {
    a {
      color: $black;
    }
  }
  strong {
    font-weight: bold;
  }
  svg {
    fill: lighten($secondary, 40%);
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 100px;
    height: 100px;
    @include media-breakpoint-up(sm) {
      width: 120px;
      height: 120px;
    }
  }
}
