---
layout: default
bodyClass: "page-home"
---

<div class="intro strip-color-prim">
  <div class="row justify-content-start">
    {% if page.intro_image %}
    <div class="col-12 col-md-12 col-lg-12 position-relative ">
      <picture>
        <source srcset="{{ page.intro_image_webp | relURL }}" type="image/webp">
        <img alt="{{ page.title }}"
        class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
        src="{{ page.intro_image | relURL }}" />
        <div class="overlay-text">
          <div class="pt-2 col-12 col-md-12 col-lg-12 position-absolute" style="width: 100%';">
            {{ content }}
            {% if page.show_call_box %}
            {% include call.html show_button=true %}
            {% endif %}
          </div>
        </div>
      </picture>
    </div>
    {% endif %}
  </div>
</div>


{% if site.data.features %}
<div class="strip strip-color-five">
  <div class="container pb-6 pt-4 pt-md-4 pb-md-10">
    <h2> Services </h2>
    <div class="row justify-content-center">
      
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature" data-aos="fade-up">
          {% if feature.image %}
          <div class="feature-image"><img class="lazyload" alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}"
            width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
            {% endif %}
            <h2 class="feature-title">{{ feature.title }}</h2>
            <div class="feature-content">{{ feature.description }}</div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
  {% endif %}
  
  {% for item in site.data.team %}
  <div class="strip strip-color-four">
    <div class="container pb-6 pt-4 pt-md-4"> 
      <h2> Your Doctor :{{ item.title }} </h2>

      <div class="row justify-content-center">
        
        
        <div class="col-12 col-md-6 col-lg-6 mb-2">
          <div class="feature-image"><img class="lazyload" alt="{{ item.title }} logo"
            src="{{item.image.url | relative_url }}" width="{{ item.image.width }}"
            height="{{ item.image.height }}" /></div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 mb-2">
            <div class="feature-content">
          <p> Dr Megha KS (BAMS) has been practiciing Ayurveda for 15+ years. Therapies including <strong>PANCHAKARMA</strong> are
            available to
            treat</p>
         <p><ul class="home-ul">
          <li class="home-li">Gynaecological Disorders</li>
          <li class="home-li">Arthritis, Rheumatic Arthritis, Other Joint Pains</li>
          <li class="home-li">Skin Disorders - Psoriasis, Eczema, etc</li>
          <li class="home-li">Asthma, Sinusitis, Tonsillitis</li>
          <li class="home-li">Over weight (Obesity), Hyper &amp; Hypothyroidism</li>
          <li class="home-li">Migraine</li>
          <li class="home-li">Gastritis, Acidity, Irritational Bowl Syndrome</li>
          <li class="home-li">Hairfall, pimples, black marks</li>
        </ul>
      </p>
                 <p> <strong>Swarna Prashana</strong> will be given to children every month on <strong>Pushya Nakshatra</strong> - No appointments necessary.
          </p>
          </div>
        </div>
          <div class="col-12 col-md-8 col-lg-8 mb-2">

      <p> The founding doctor,
      Dr. Megha K S is an alumnus of ALN Rao Memorial Ayurveda medical College & carries over 15 years of consulting experience
      at some of the best Ayurvedic Centres of South India. She has been a topper in her academics & has won many awards &
      accolades during her tenure as Ayurveda Consultant. Dr. Megha is a trained Panchakarma Specialist from Kerala & also
      specialises in identification & correction of Gynaecological issues for Women. </p>
    {% include call.html show_button=true %}
  </div>
      
      </div>
      </div>
    <!-- {% include mycard.html %} -->
    </div>
  {% endfor %}
  <div class="strip strip-color-five">
  <div class="container pt-2">
    <h2> Directions & Reviews </h2>
    <div class="row justify-content-start">
    <div class="col-12 col-md-12 col-lg-12 mb-2"> 
        Srushti Ayurvedalaya is located in HBR Layout, close to IT Hub of Bangalore “Manyatha Tech Park”.
        <a
        href="https://maps.google.com/maps/dir//Srushti+Ayurvedalaya+1301,+19th+Main+Rd,+opp.+to+40th+Cross+Road,+5th+Block,+HBR+Layout+Bengaluru,+Karnataka+560043+India/@13.0381536,77.6300481,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x3bae170402d4d383:0xdf391a262874d602">
        <span class="button_small" style="width:100%;">
          Directions
        </span>
      </a>
      <iframe class="lazyload"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.961013589446!2d77.62785941744384!3d13.038153600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae170402d4d383%3A0xdf391a262874d602!2sSrushti%20Ayurvedalaya!5e0!3m2!1sen!2sus!4v1687106643533!5m2!1sen!2sus"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    
    </div>
    
  <!-- <div class="col-12 col-md-6 col-lg-6 mb-2">
     {% include image_gallery.html folder="/images/reviews" %}
    {% include mycard.html %}
  </div> -->
</div>
</div>
</div>
  </div>